h1 {
  text-align: center;
  padding-top: 50px;
  color: white;
}

.landing-page {
  background-image: url('https://media0.giphy.com/media/WUyQbeKHhpaHrrKJu6/giphy.gif?cid=ecf05e47g5u2uhl88oelfotekojv85axr1oszk2o9gibu1em&rid=giphy.gif&ct=g');
  text-align: center;
  padding-top: 50px;
  color: white;
}

#blogtext {
  display: none;
  }

body {
  background-image: url('https://images.unsplash.com/photo-1583407723467-9b2d22504831?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
}

p {
  font: 15px Arial;
}

.posts {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 15px;
  padding-right:15px;
  background-color: #FFFF;
  border-radius: 10px;
}

.login {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right:10px;
}

#not-a-member {
  color: white;
  font-size: 50px;
}

.register-user-page {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right:10px;
}

.post-details {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #FFFF;
}

.edit-button {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-bottom: 20px;
}

.delete-posts {
  text-align: justify;
  margin: auto;
  width: 40%;
  padding-left: 100px;
  padding-right: 100px;
}

.create-post {
  padding-top: 25px;
  padding-left: 250px;
  padding-bottom: 50px;
}

.search-container {
  padding-right: 20px;
}

.navbar-brand {
  padding-left: 20px;
}

.books {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right:10px;
  background-color: #FFFF;
}

.websites {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right:10px;
  background-color: #FFFF;
}

.podcasts {
  text-align: justify;
  margin: auto;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right:10px;
  background-color: #FFFF;
}

.show-delete-posts {
  position: relative;
  text-align: center;
  margin: 15px;
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #FFFF;
  border-radius: 25px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-button-page {
  display: block;
  margin: 0 auto;
}

.resources {
  position: relative;
  text-align: justify;
  padding-bottom: 0px;
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #FFFF;
}

#footer {
  bottom:0;
  left:0;
  right:0;
 }

.entire-sidebar {
  width: 20%;
  position: absolute;
 }

.posts-dashboard {
    top: 10px;
    position: relative;
    text-align: left;
    margin: auto;
    text-align: justify;
    margin: auto;
    width: 50%;
    padding-top: 15px;
    padding-bottom: 0px;
    padding-left: 10px;
    padding-right:10px;
    background-color: #FFFF;
    border-radius: 10px;
}

a:link { text-decoration: none; }

#footer-login {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%
}

#footer-register {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

.create-post-dashboard {
  padding-left: 70px;
}
