.landing-page {
    background-image: url('https://media0.giphy.com/media/WUyQbeKHhpaHrrKJu6/giphy.gif?cid=ecf05e47g5u2uhl88oelfotekojv85axr1oszk2o9gibu1em&rid=giphy.gif&ct=g');
    text-align: center;
    padding-top: 50px;
}
