{% extends 'base.html' %}
{% block title %}fumblr{% endblock %}
{% block body %}
<div class="body-non-landing-page">
<h1>Dashboard</h1>

    <div class="dashboard-buttons">
    <div class="col-md-12 mb-4">
      <a href="/create-post"><button type="button" class="btn btn-primary btn-square-md"><i class="fa-solid fa-pencil fa-3x"></i>Create</button></a>
      <a href="/delete-posts"><button type="button" class="btn btn-primary btn-square-md"><i class="fa-solid fa-strikethrough fa-3x"></i><br>Edit</button></a>
      <a href="/delete-posts"><button type="button" class="btn btn-primary btn-square-md"><i class="fa-solid fa-trash fa-3x"></i><br>Delete</button></a>
      <a href="/posts"><button type="button" class="btn btn-primary btn-square-md"><i class="fa-brands fa-readme fa-3x"></i><br>Read</button></a>
      <a href="/logout"><button type="button" class="btn btn-primary btn-square-md"><i class="fa-solid fa-right-from-bracket fa-3x"></i>Logout</button></a>
    </div>

  {% for post in posts %}

  <div style="width: 50%" class="posts-dashboard">
  <h3>{{ post.post_subject }}</h3>
  <p>{{ post.post_text | safe }}</p>
  <p>Date: {{ post.post_date }}</p>
  <p>tags: {{ post.post_tag }}</p>
  </div>
  {% endfor %}

<!-- Footer -->
<footer class="bg-dark text-center text-white" id="footer">
  <!-- Grid container -->
  <div class="container p-4">
</div>
{% endblock %}
