{% extends 'base.html' %}
{% block title %}Blogr{% endblock %}

{% block body %}
<h1>Edit/Delete Posts</h1>


  {% for post in posts %}
<div class="container">
  <div id="post-{{post.post_id}}" class="show-delete-posts">
 <a href="/posts/{{ post.post_id }}">
      {{ post.post_subject }}
  </a>
  <div class="delete-button-page">
  <input type="submit" value="delete" class="delete" id={{post.post_id}}>
  </div>
  </div>
</div>
  {% endfor %}
<script src="/static/update-posts.js"></script>

{% endblock %}
