{% extends 'base.html' %}
{% block title %}Blogr{% endblock %}
  <!-- <h3>Create an Account</h3>
  <form action="/users" method="POST">
    <p>
    Username <input type="text" name="username">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form>
  
  <h3>Log In</h3>
  <form action="/login" method="POST">
    <p>
      Username <input type="text" name="username">
    </p>
    <p>
      Password <input type="password" name="password">
    </p>
    <p>
      <input type="submit">
    </p>
  </form> -->
{% block body %}
<h1>Welcome to BLOGR</h1>
<div class="login";">
<form action="/login" method="POST">
  <!-- Username input -->
  <div class="form-outline mb-4">
    <input type="text" name="username" id="form2Example1" class="form-control" placeholder="Username"/>
</div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" name="password" id="form2Example2" class="form-control" placeholder="Password"/>
  </div>

  <!-- 2 column grid layout for inline styling -->
  <div class="row mb-4">
    <div class="col d-flex justify-content-center">
    </div>
  </div>
 
  <!-- Submit button -->
  <input type="submit" class="btn btn-primary">
</form>
  <!-- Register buttons -->
  <div class="text-center" id="not-a-member">
    <p>Not a member? <a href="/register-user">Register</a></p>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" id="footer-login">Copyright 2022
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">

{% endblock %}
