{% extends 'base.html' %}
{% block title %}Blogr{% endblock %}

{% block body %}
<h1>Blog Posts</h1>

<!-- <h4><label for="query">Search posts by tag:</label></h4>
<form action="/query" method="GET">
    <input type="text" name="query">
    <input type="submit">
</form>

<div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">Submit</button>
    </form>
</div> -->


{% for post in posts %}

<div style="width: 50%" class="posts">
<h3>{{ post.post_subject }}</h3>
<p>{{ post.post_text | safe }}</p>
<p>Date: {{ post.post_date }}</p>
<p>tags: {{ post.post_tag }}</p>
</div>
{% endfor %}

<!-- Footer -->
<footer class="bg-dark text-center text-white" id="footer">Copyright 2022
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>
{% endblock %}
