{% extends 'base.html' %}
{% block title %}Blog{% endblock %}

{% block body %}

<h1>Register</h1>
<div class="register-user-page">
<form action= "/register" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1"></label>
    <input type="username" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1"></label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <input type="submit" class="btn btn-primary">
</form>
</div>

<!-- Footer -->
<footer class="bg-dark text-center text-white" id="footer-register">Copyright 2022

  <!-- Grid container -->

{% endblock %}
