{% extends 'base.html' %}

{% block body %}
<h1>Resources</h1>

<div class="books">
<h2>Books</h2>
<p><strong>Clean Code: A Handbook of Agile Software Craftsmanship by Robert C. Martin</strong></p>
<p>The Clean Code offers invaluable insights into code cleaning and software development It has thorough, step-by-step explanations on cleaning, writing, and refactoring code. The programming book has a galore of practical examples about the how and why of writing clean code.</p>

<p><strong>Introduction to Algorithms by Thomas H. Cormen, Charles E. Leiserson, Ronald L. Rivest, Clifford Stein</strong></p>
<p>The name of the book is self-explanatory. It is what the title suggests, i.e., Introduction to Algorithms. Also known as CLRS, a reference to the last name of the authors of the book, it goes in-depth into a range of algorithms divided across several self-contained chapters. All the algorithms discussed in the Introduction to Algorithms book are amply explained. They are presented using pseudocode, readable by programmers of all skill levels, even those who are relatively new to programming. </p>
</div>

<div class="podcasts">
<h2>Podcasts</h2>
<p><strong>CodeNewbie</strong></p>
<p>CodeNewbie started as a weekly TwitterChat to connect people learning to code by Saron. Since then, it's grown into a supportive, international community of people learning to code.</p>


<p><strong>Talk Python to Me</strong></p>
<p>Each week, developer Michael Kennedy explores the Python ecosystem and its many applications. Along the way, he interviews Python enthusiasts from a variety of fields including:</p>
<li>

Web Development
</li>
<li>
Data Science
</li>
<li>
Machine Learning
</li>
<li>
Academia
</li>
</div>


</div>
<!-- Footer -->
<footer class="bg-dark text-center text-white" id="footer">Copyright 2022
    <!-- Grid container -->
    <div class="container p-4">

{% endblock %}